@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poetsen+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://technext.github.io/clark/index.html# */

:root {
    --bgcolor1: #00010D;
    --bgcolor2: #0B1426;
    -secondary: #747F8C;
    --terciary: #1E2D40;
    --textcolor: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.fonte2 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.fonte {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {

    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: var(--textcolor);
    background-color: var(--bgcolor1);
}