@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poetsen+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://technext.github.io/clark/index.html# */

:root {
    --bgcolor1: #00010D;
    --bgcolor2: #0B1426;
    --secondary: #747F8C;
    --terciary: #1E2D40;
    --textcolor: #F2F2F2;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    scroll-behavior: smooth;
}

div:target {
    scroll-behavior: smooth;
}

.fonte2 {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}

.fonte {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.minhaimg {
    transform: translateY(0px);
    animation: float 5s ease-in-out infinite;
    filter: drop-shadow(5px 1px 300px var(--secondary));
}

.flutuando {
    transform: translateY(0px);
    animation: float2 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes float2 {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}

a {
    scroll-behavior: smooth;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;

    color: var(--textcolor);
    background-color: var(--bgcolor1);
}